.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 100px;
    margin: 200px;
}
.gallery div {
    position: relative;
    overflow: hidden;
}
.gallery img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery div:hover img {
    transform: scale(1.5);
}